Repository Space2Study-UA-1156/Client-02, pull requests merged in 2024-05, with the labels that each got.

#126 Added spec for "AddPhotoStep" container #96
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#121 (SP: 1) Write unit test for "AppTextField" component
  tests/unit/components/app-text-field/AppTextField.spec.jsx
Labels: Unit test

#87 fix: added scroll-to-top on logo click
  src/containers/guest-home-page/Welcome.jsx
  src/containers/layout/navbar/NavBar.jsx
Labels: bug, FrontEnd part

#115 bugfix/#75-send-a-request-item-not-corresponded-to-mockup
  src/containers/guest-home-page/cards-with-button/CardsWithButton.styles.js
Labels: bug, sprint 1, FrontEnd part

#123 (SP: 1) Write unit test for "PageWrapper" component #94
  tests/unit/components/page-wrapper/PageWrapper.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#122 (SP: 1) Write unit test for "TitleWithDescription" component
  tests/unit/components/title-with-description/TitleWithDescription.spec.jsx
Labels: Unit test

#120 (SP: 1) Write unit test for "Subjects" page #101
  tests/unit/pages/subjects/Subjects.spec.jsx
Labels: Subjects, Unit test

#113 (SP: 1) Write unit test for "Find offers" page #97
  package-lock.json
  tests/unit/components/loader/Loader.spec.jsx
  tests/unit/pages/find-offers/FindOffers.spec.jsx
Labels: sprint 1, FrontEnd part, Unit test

#128 Added spec for "LanguageStep" container #99
  tests/unit/containers/tutor-home-page/language-step/LanguageStep.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#142 Added spec for "AddPhotoStep" container (fixed version) #96
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#127 Added spec for "GeneralInfoStep" container #98
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#147 (SP: 1) Write unit test for "AppContentSwitcher" component #93
  tests/unit/components/app-content-switcher/AppContentSwitcher.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#144 (SP: 1) Write unit test for "AppTextArea" component #91
  tests/unit/components/app-text-area/AppTextArea.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#117 (SP: 1) Write unit test for "PopupDialog" component
  tests/unit/components/popup-dialog/PopupDialog.spec.jsx
Labels: FrontEnd part, Unit test

#151 Feature/login#150
  src/containers/guest-home-page/login-form/LoginForm.jsx
Labels: feature

#145 Deleted unnecessary test for "ViewBox" component #107
  tests/unit/components/video-box/VideoBox.spec.jsx
Labels: sprint 2, Unit test

#156 Added spec for "InputWithIcon" component #95
  tests/unit/components/input-with-icon/InputWithIcon.spec.jsx
Labels: sprint 2, FrontEnd part, Unit test

#155 Unit test/#108 accordion with image component
  tests/unit/components/accordion-with-image/AccordionWithImage.spec.jsx
Labels: sprint 2, Unit test

#149 (SP: 1) Write unit test for "ImgTitleDescription" component #104
  tests/unit/components/img-title-description/imgTitleDescription.spec.jsx
Labels: FrontEnd part, Unit test

#168 Implemented the validation for all the fields on the "Sign up" form #131
  src/constants/translations/en/common.json
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
  src/containers/guest-home-page/signup-form/SignupForm.jsx
  src/utils/validations/common.js
  tests/unit/utils/validations/common.spec.js
  tests/unit/utils/validations/login.spec.js
  vitest.config.ts
Labels: feature, sprint 3, Sign up, FrontEnd part

#153 Click outside of popup
  src/components/popup-dialog/PopupDialog.jsx
Labels: bug

#167 Disable "Send me password reset link" button if email is not entered #166
  src/containers/guest-home-page/forgot-password/ForgotPassword.jsx
Labels: bug, FrontEnd part

#175 Implement General Info step # 132
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/context/step-context.jsx
Labels: feature

#172 Fixed error in GitHub actions: Cannot find module @rollup/rollup-linux-x64-gnu.
  .github/workflows/main.yaml
  README.md
  package.json
Labels: bug, sprint 3

#173 (SP: 1) Closing confirmation pop-up window for the Stepper #130
  src/context/step-context.jsx
Labels: feature, sprint 3, FrontEnd part

#146 Added spec for Categories page #100
  tests/unit/pages/categories/Categories.spec.jsx
Labels: sprint 2, Unit test

#177 Implemented "Add photo" step #163
  src/components/file-uploader/FileUploader.styles.js
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  src/utils/img.js
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: feature, sprint 3, FrontEnd part, student, tutor, Stepper

#170 showed EmailConfirmModal on submit
  src/containers/email-confirm-modal/EmailConfirmModal.jsx
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
Labels: feature, FrontEnd part

#179 Fix bug: choose the same language should be not possible
  src/containers/student-home-page/language-step/LanguageStepContent.jsx
  src/containers/student-home-page/language-step/LanguageStepContent.styles.js
Labels: bug, FrontEnd part, student, Stepper

#194 Added validation and pulled Countries/Cities from server for the "General Info" step #135
  package-lock.json
  package.json
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/components/user-steps-wrapper/constants.js
  src/constants/translations/en/become-tutor.json
  src/constants/translations/ua/become-tutor.json
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/context/step-context.jsx
  src/hooks/use-form.jsx
  src/plugins/axiosClient.js
  src/services/location-service.js
Labels: feature, sprint 4, FrontEnd part, student, Stepper

#174 Feature/#133 subjects step
  src/assets/img/subjects-step/image.svg
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
Labels: tutor, Stepper

#195 Implement category item card
  src/assets/img/categories/astronomy.svg
  src/assets/img/categories/audit.svg
  src/assets/img/categories/biology.svg
  src/assets/img/categories/chemistry.svg
  src/assets/img/categories/computer_science.svg
  src/assets/img/categories/design.svg
  src/assets/img/categories/finances.svg
  src/assets/img/categories/history.svg
  src/assets/img/categories/languages.svg
  src/assets/img/categories/marketing.svg
  src/assets/img/categories/mathematics.svg
  src/assets/img/categories/music.svg
  src/assets/img/categories/painting.svg
  src/assets/img/categories/physics.svg
  src/assets/img/categories/psychology.svg
  src/components/category-item-card/CategoryItemCard.jsx
  src/components/category-item-card/CategoryItemCard.styles.js
  src/components/img-title-description/ImgTitleDescription.jsx
  tests/unit/components/category-item-card/CategoryItemCard.spec.jsx
Labels: Categories, feature, FrontEnd part

#198 Removed "Back" button from the first "General Info" step #183
  src/components/step-wrapper/StepWrapper.jsx
  src/components/step-wrapper/StepWrapper.styles.js
  src/hooks/use-steps.jsx
Labels: bug, sprint 4, FrontEnd part, student, tutor, Stepper

#197 Pulled "First name" and "Last Name" for "General info" step from the first registration form #182
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/redux/reducer.js
Labels: feature, sprint 4, FrontEnd part, student, tutor, Stepper

#202 Fetched data from the server and collected user-entered data from all stages of the stepper #196
  src/components/async-autocomplete/AsyncAutocomplete.jsx
  src/constants/translations/en/become-student.json
  src/constants/translations/en/become-tutor.json
  src/constants/translations/en/index.js
  src/constants/translations/ua/become-student.json
  src/constants/translations/ua/become-tutor.json
  src/containers/student-home-page/language-step/LanguageStepContent.jsx
  src/containers/student-home-page/language-step/LanguageStepContent.styles.js
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/containers/tutor-home-page/language-step/LanguageStep.styles.js
  src/containers/tutor-home-page/language-step/constants.js
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
  src/containers/tutor-home-page/subjects-step/constants.js
  src/context/step-context.jsx
  src/services/category-service.js
  src/services/setup-interceptors.js
  src/services/subject-service.js
Labels: feature, sprint 4, FrontEnd part, student, tutor, Stepper

#200 [Categories] Add title with description and search input #158
  package-lock.json
  src/constants/translations/en/categories-page.json
  src/pages/categories/Categories.jsx
  src/pages/categories/Categories.styles.js
Labels: Categories, feature, FrontEnd part

#201 (SP: 1) [Categories] Implement "Create request" block #157
  src/assets/img/tutor-home/subject.svg
  src/components/create-request-offer-block/CreateRequestOfferBlock.jsx
  src/components/create-request-offer-block/CreateRequestOfferBlock.styles.js
  src/components/create-request-offer-block/create-request-offer-block.constants.js
  src/containers/student-home-page/create-offer-dialog/CreateOfferDialog.jsx
  src/containers/student-home-page/create-offer-dialog/CreateOfferDialog.styles.js
  src/pages/categories/Categories.jsx
Labels: feature, sprint 4, FrontEnd part

#203 Feature/#159category block
  src/components/category-item-card/CategoryItemCard.jsx
  src/components/category-item-card/CategoryItemCard.styles.js
  src/constants/translations/en/categories-page.json
  src/pages/categories/Categories.jsx
  src/pages/categories/Categories.styles.js
Labels: Categories, FrontEnd part

#206 Implemented finish of the stepper #164
  src/components/drag-and-drop/DragAndDrop.jsx
  src/components/file-uploader/FileUploader.styles.js
  src/components/step-wrapper/StepWrapper.jsx
  src/components/step-wrapper/StepWrapper.styles.js
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/components/user-steps-wrapper/constants.js
  src/constants/translations/en/become-tutor.json
  src/constants/translations/en/common.json
  src/constants/translations/ua/become-tutor.json
  src/constants/translations/ua/common.json
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/containers/tutor-home-page/language-step/LanguageStep.styles.js
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
  src/context/step-context.jsx
  src/hooks/use-form.jsx
  src/hooks/use-steps.jsx
  src/pages/student-home/StudentHome.jsx
  src/pages/tutor-home/TutorHome.jsx
  src/pages/tutor-home/TutorHome.styles.js
  src/redux/reducer.js
  src/utils/validations/common.js
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
  tests/unit/redux/redux.variables.js
Labels: feature, sprint 5, FrontEnd part, student, tutor, Stepper

#207 Loaded and sent the user photo file to server for "AddPhotoStep" #165
  src/components/user-steps-wrapper/constants.js
  src/constants/translations/en/become-tutor.json
  src/constants/translations/ua/become-tutor.json
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/hooks/use-steps.jsx
Labels: feature, sprint 5, FrontEnd part, student, tutor, Stepper

#213 [Subjects] Add search input and title
  .vscode/settings.json
  src/components/category-item-card/CategoryItemCard.jsx
  src/components/category-search-section/CategorySearchSection.styles.js
  src/components/subjects-search-section/SubjectsSearch.jsx
  src/components/subjects-search-section/SubjectsSearch.styles.js
  src/pages/categories/Categories.jsx
  src/pages/subjects/Subjects.jsx
Labels: feature, Subjects, FrontEnd part

#208 clear tutor card component (desktop/mobile)
  src/components/tutor-card/TutorCard.jsx
  src/components/tutor-card/TutorCardBlock.jsx
  src/components/tutor-card/TutorCardBlock.styles.js
  src/components/tutor-card/TutorCardMobile.jsx
  src/components/tutor-card/TutorCardMobile.styles.js
Labels: enhancement, Find offers, feature, FrontEnd part

#210 Created universal "NoResultsContent" component
  src/assets/img/app-icon/magnifier-icon.svg
  src/components/no-results-content/NoResultsContent.jsx
  src/components/no-results-content/NoResultsContent.styles.js
  src/constants/translations/ua/constant.json
  src/containers/student-home-page/request-new-category-form/RequestNewCategoryForm.jsx
  src/pages/categories/Categories.jsx
  tests/unit/components/no-results-content/NoResultsContent.spec.jsx
Labels: Categories, feature, sprint 5, FrontEnd part

#216 (SP: 1) [Find offers] Make a container for cards
  src/components/app-pagination/AppPagination.jsx
  src/components/app-pagination/AppPagination.styles.js
  src/components/toggle-layout-view/ToggleLayoutView.jsx
  src/components/toggle-layout-view/ToggleLayoutView.styles.js
  src/components/tutor-card/TutorCard.jsx
  src/components/tutor-card/TutorCardBlock.jsx
  src/components/tutor-card/TutorCardMobile.jsx
  src/containers/offers-block/OffersBlock.jsx
  src/containers/offers-block/OffersBlock.styles.js
  src/containers/tutor-home-page/components/step-image.jsx
  src/containers/tutor-home-page/components/step-image.styles.js
  src/pages/find-offers/FindOffers.jsx
  src/pages/find-offers/FindOffers.styles.js
Labels: Find offers, FrontEnd part

#212 #192 added student/tutor switcher
  src/pages/find-offers/FindOffers.jsx
Labels: Categories, sprint 5

#218 Fix: Subjects URL
  src/components/category-item-card/CategoryItemCard.jsx
  src/pages/subjects/Subjects.jsx
Labels: feature, Subjects, FrontEnd part

#220 Implemented student’s request form for a new category/subject #211
  src/assets/img/student-home-page/requestNewCategory.svg
  src/components/user-steps-wrapper/constants.js
  src/constants/translations/en/common.json
  src/constants/translations/en/student-home-page.json
  src/constants/translations/ua/common.json
  src/constants/translations/ua/student-home-page.json
  src/containers/student-home-page/request-new-category-form/RequestNewCategoryForm.jsx
  src/containers/student-home-page/request-new-category/request-new-category-dialog/RequestNewCategoryDialog.jsx
  src/containers/student-home-page/request-new-category/request-new-category-dialog/RequestNewCategoryDialog.style.js
  src/containers/student-home-page/request-new-category/request-new-category-dialog/constants.js
  src/containers/student-home-page/request-new-category/request-new-category-form/RequestNewCategoryForm.jsx
  src/containers/student-home-page/request-new-category/request-new-category-form/RequestNewCategoryForm.style.js
  src/hooks/use-form.jsx
  src/pages/categories/Categories.jsx
  src/styles/app-theme/app.textfield.js
  src/utils/validations/common.js
  tests/unit/containers/student-home-page/request-new-category/request-new-category-dialog/RequestNewCategoryDialog.spec.jsx
  tests/unit/containers/student-home-page/request-new-category/request-new-category-form/RequestNewCategoryForm.spec.jsx
Labels: Categories, feature, Subjects, sprint 6, FrontEnd part, student

#225 Changed default person icon in the user profile to the uploaded photo #223
  src/components/user-avatar/UserAvatar.jsx
  src/components/user-avatar/UserAvatar.styles.js
  src/containers/navigation-icons/NavigationIcons.constants.jsx
  src/containers/navigation-icons/user-icons/UserIcons.jsx
  src/redux/reducer.js
  tests/unit/components/user-avatar/UserAvatar.spec.jsx
Labels: feature, sprint 6, FrontEnd part, Home page, student, tutor

#222 Creating "User Request" service & Sending user request data for creating a new category/subject to the server #221
  src/components/category-search-section/CategorySearchSection.jsx
  src/constants/request.js
  src/containers/student-home-page/request-new-category/request-new-category-dialog/RequestNewCategoryDialog.jsx
  src/services/user-request-service.js
  tests/unit/containers/student-home-page/request-new-category/request-new-category-dialog/RequestNewCategoryDialog.spec.jsx
  tests/unit/containers/student-home-page/request-new-category/request-new-category-form/RequestNewCategoryForm.spec.jsx
Labels: Categories, feature, Subjects, sprint 6, FrontEnd part

#229 Implemented functionality enabling users to change the site's language (added localization support)
  src/constants/translations/en/become-student.json
  src/constants/translations/en/become-tutor.json
  src/constants/translations/en/common.json
  src/constants/translations/en/find-offer-page.json
  src/constants/translations/en/guest-home-page.json
  src/constants/translations/en/index.js
  src/constants/translations/en/offer-details-page.json
  src/constants/translations/en/student-home-page.json
  src/constants/translations/en/tutor-profile-page.json
  src/constants/translations/languages.js
  src/constants/translations/ua/admin.json
  src/constants/translations/ua/become-student.json
  src/constants/translations/ua/become-tutor.json
  src/constants/translations/ua/categories-page.json
  src/constants/translations/ua/common.json
  src/constants/translations/ua/cookie-policy-page.json
  src/constants/translations/ua/error-page.json
  src/constants/translations/ua/errors.json
  src/constants/translations/ua/find-offer-page.json
  src/constants/translations/ua/footer.json
  src/constants/translations/ua/guest-home-page.json
  src/constants/translations/ua/header.json
  src/constants/translations/ua/index.js
  src/constants/translations/ua/login.json
  src/constants/translations/ua/offer-details-page.json
  src/constants/translations/ua/questions.json
  src/constants/translations/ua/signup.json
  src/constants/translations/ua/step.json
  src/constants/translations/ua/student-home-page.json
  src/constants/translations/ua/subjects-page.json
  src/constants/translations/ua/table.json
  src/constants/translations/ua/titles.json
  src/constants/translations/ua/user-table.json
  src/containers/guest-home-page/how-it-works/HowItWorks.jsx
  src/containers/layout/language-menu/LanguageMenu.jsx
  src/containers/layout/language-menu/LanguageMenu.styles.js
  src/containers/navigation-icons/NavigationIcons.constants.jsx
  src/containers/navigation-icons/guest-icons/GuestIcons.jsx
  src/containers/navigation-icons/user-icons/UserIcons.jsx
  src/plugins/i18n.js
Labels: feature, sprint 6, FrontEnd part, Home page, student, tutor

#234 [Interests/Subjects step] Fix category and subject selects #232
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
Labels: bug, sprint 6, FrontEnd part

#233 [Categories] Implement create request/offer form #209
  src/assets/img/categories/counter_1.svg
  src/assets/img/categories/counter_2.svg
  src/assets/img/categories/counter_3.svg
  src/assets/img/categories/hryvnia.svg
  src/assets/img/categories/leak_add.svg
  src/components/create-request-offer-block/CreateRequestOfferBlock.jsx
  src/components/create-request-offer-form/CreateRequestOfferForm.jsx
  src/components/create-request-offer-form/CreateRequestOfferForm.styles.js
  src/components/levels/Levels.jsx
  src/components/levels/Levels.styles.js
  src/constants/translations/en/button.json
  src/constants/translations/en/offer-page.json
  src/constants/translations/ua/button.json
  src/constants/translations/ua/offer-page.json
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
  src/containers/student-home-page/create-offer-dialog/CreateOfferDialog.jsx
  src/containers/student-home-page/create-offer-dialog/CreateOfferDialog.styles.js
  src/hooks/use-form.jsx
  src/services/offer-service.js
  src/styles/index.css
  src/utils/validations/create-request.js
Labels: feature, sprint 6, FrontEnd part

#230 [Subjects] Implemented list of subjects block
  src/components/category-search-section/CategorySearchSection.jsx
  src/components/subjects-item-card/SubjectsItemCard.jsx
  src/components/subjects-item-card/SubjectsItemCard.styles.js
  src/components/subjects-search-section/SubjectsSearch.jsx
  src/components/subjects-search-section/SubjectsSearch.styles.js
  src/pages/categories/Categories.jsx
  src/pages/subjects/Subjects.jsx
  src/pages/subjects/Subjects.styles.js
Labels: feature, Subjects, FrontEnd part

#228 fixed overflow chip position
  src/components/app-chips-list/AppChipList.jsx
Labels: bug, FrontEnd part
