Repository Space2Study-UA-1156/Client-02, pull requests merged in 2024-04, with the labels that each got.

#84 Changed main.yml file
  .github/workflows/main.yaml
  sonar-project.properties
Labels: sprint 1

#82 [Home page] The title description text
  src/constants/translations/en/guest-home-page.json
Labels: bug, FrontEnd part, Home page

#111 (SP: 1) Write unit test for "Loader" component
  tests/unit/components/loader/Loader.spec.jsx
Labels: sprint 1, FrontEnd part, Unit test

#116 Added confirm password field validation #77
  src/containers/guest-home-page/signup-dialog/SignupDialog.jsx
  src/containers/guest-home-page/signup-form/SignupForm.jsx
  src/utils/validations/login.js
Labels: bug, sprint 1, FrontEnd part

#118 Rename all needed variables "sucsessReset" to "successReset
  src/constants/translations/en/login.json
  src/containers/guest-home-page/reset-password/ResetPassword.jsx
Labels: sprint 1, Log in

#112 [Mentor 'Sign Up' pop-up] the text "Already have a Space2Study account? Log In" doesn't correspond the requirements #72
  src/constants/translations/en/signup.json
Labels: bug, sprint 1, FrontEnd part

#86 [Login popup] Login button is clickable
  src/containers/guest-home-page/login-form/LoginForm.jsx
Labels: bug, Log in, FrontEnd part

#110 Aligned the last breadcrumb with others #71
  src/containers/layout/app-breadcrumbs/AppBreadCrumbs.styles.js
Labels: bug, sprint 1, FrontEnd part
